.LogBtn {
    padding: 7.5px 23.5px;
    color: #292a2c;
    background: #f68657 !important;
    border: 1px solid #f68657 !important;
    font-size: 27px;
    transition: all 0.4s;
}

.LogBtn:hover {
    background: #292a2c !important;
    color: #f68657 !important;
}